.drop_down_container{
	position: relative;
	width: 100%;
	height: 64px;
	background-color: #FFFFFF;
	box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
	border-radius: 8px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 18px;
	margin-bottom: 44px;
	cursor: pointer;
}
.drop_down_header{
		font-weight: 400;
			font-size: 16px;
			line-height: 28px;
		color: #a9a9a9;
}
.drop_down_list_container{
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 100;
	width: 100%;
	height: auto;
}
.drop_down_list{
	background-color: #FFFFFF;
	box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
	border-radius: 8px;
	padding: 18px;
	
	
}
.drop_down_item{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.drop_down_text{
	font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		height: 28px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		
}
.drop_down_item:not(:last-child){
margin-bottom: 13px;
}
.drop_down_item:hover{
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #F2F2F2;
	
}
.drop_down_item:hover .drop_down_text{
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: 13px;
}

@media screen and (min-width: 1140px) {

.drop_down_container {
		margin-bottom: 0;
	}
}
.drop_down_icon{
	position: absolute;
	z-index: 0;
	top: 29px;
	right: 29px;
	width: 10px;
	height: 6px;
}